---
- name: "{{ app }} : Create GTK 3 config dir"
  file:
    path: "{{ ansible_user_dir }}/.var/app/{{ app }}/config/gtk-3.0"
    state: directory

- name: "{{ app }} : Hard link GTK 3 compose configuration"
  file:
    src: "{{ ansible_user_dir }}/.config/gtk-3.0/Compose"
    dest: "{{ ansible_user_dir }}/.var/app/{{ app }}/config/gtk-3.0/Compose"
    state: hard
