---
- name: "Languages : Node.js"
  npm:
    name: "{{ item }}"
    global: true
  with_items: "{{ languages_nodejs }}"
  environment:
    NPM_CONFIG_USERCONFIG: "{{ homedir }}/.config/npm/config"

- name: "Languages : Python"
  pipx:
    name: "{{ item }}"
  with_items: "{{ languages_python3 }}"

- name: "Languages : Ruby"
  gem:
    name: "{{ item }}"
    user_install: true
  with_items: "{{ languages_ruby }}"
  environment:
    GEMRC: "{{ homedir }}/.config/ruby/gemrc"
    GEM_HOME: "{{ homedir }}/.local/share/gem"
    GEM_CACHE: "{{ homedir }}/.cache/gem.cache"
    GEMCACHE: "{{ homedir }}/.local/share/gem"

- name: "Languages : Rust"
  cargo:
    name: "{{ item }}"
    path: "{{ homedir }}/.local/"
  with_items: "{{ languages_rust }}"
  environment:
    CARGO_HOME: "{{ homedir }}/.local/share/cargo"

- name: "Languages : Lua"
  command: "luarocks install {{ item }}"
  environment:
    LUAROCKS_CONFIG: "{{ homedir }}/.config/luarocks/config.lua"
  with_items: "{{ languages_lua }}"
  args:
    creates: "{{ homedir }}/.local/bin/{{ item }}"

- name: "Languages : Go"
  command: go install {{ item.key }}@{{ item.value | default('latest') }}
  with_dict: "{{ languages_go }}"
  environment:
    GOBIN: "{{ homedir }}/.local/bin"
    GOPATH: "{{ homedir }}/Code/go:/usr/share/gocode"
  args:
    creates: "{{ homedir }}/.local/bin/{{ item.key | basename }}"
